<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title><%= title %></title>
</head>
<body>
<h1>Welcome</h1>
<% for(var i=0; i<users.length; i++) { %>
    <li><%= users[i] %></li>
<% } %>
</body>
</html>





